{% extends "base.html" %}

{% block maincontent %}

<form role="form" method="post" class="well" id="login-view">
	{% csrf_token %}

	{% if form.errors %}
	<div class="alert alert-danger" role="alert">
		Your username and password didn't match. Please try again.
	</div>
	{% endif %}

	<div class="form-group">
		<label for="id_username">Login</label>
		<input id="id_username" name="username" type="text" class="form-control" placeholder="Login">
	</div>

	<div class="form-group">
		<label for="id_password">Password</label>
		<input id="id_password" name="password" type="password" class="form-control" placeholder="Password"/>
	</div>

	<button type="submit" class="btn btn-success">Submit</button>

</form>

{% endblock %}
