{% extends 'base.html' %}

{% block css_include %}
  {{ block.super }}

  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}testreporter/main.css">
{% endblock %}

{% block js_include %}
  {{ block.super }}
  
  <script type="text/javascript" src="{{ STATIC_URL }}testreporter/main.js"></script>
{% endblock %}

{% block maincontent %}
  
  <div id="testreporter" ng-app="app">
    <div ng-view></div>
  </div>

  {# <table class="table table-striped"> #}
  {#   <thead> #}
  {#     <tr> #}
  {#       <th>#</th> #}
  {#       <th>First Name</th> #}
  {#       <th>Last Name</th> #}
  {#       <th>Username</th> #}
  {#     </tr> #}
  {#   </thead> #}
  {#   <tbody> #}
  {#     <tr ng-repeat="tag in tags"> #}
  {#       <td>1</td> #}
  {#       <td>//tag.id//</td> #}
  {#       <td>Otto</td> #}
  {#       <td>@mdo</td> #}
  {#     </tr> #}
  {#   </tbody> #}
  {# </table> #}

{% endblock %}
