<div class="page-header">
  <a title="Create" href="#/new" class="btn btn-default btn-sm pull-right btn-success" role="button">	
    <span class="glyphicon glyphicon-plus"></span>
  </a>

  <h1>Reports</h1>
</div>


<div class="row">
  <div class="col-lg-12">


    <table class="table table-striped">
      <thead>
	<tr>
	  <th>#</th>
	  <th>Name</th>
	  <th></th>
	</tr>
      </thead>
      <tbody>
	<tr ng-repeat="tag in tags">
	  <td><a ng-href="#//tag.id//">//tag.id//</a></td>
	  <td><a ng-href="#//tag.id//">//tag.name//</a></td>
	  <td title="builds attached"><span class="badge pull-right">//tag.builds.length//</span></td>
	</tr>
      </tbody>
    </table>

    <a title="Create" href="#/new" class="btn btn-default btn-sm pull-right btn-success" role="button">	
      <span class="glyphicon glyphicon-plus"></span>
    </a>

  </div>
</div>

