<div ng-hide="!tag_progress" class="row ng-hide">
  <div class="col-lg-12">
    <h1 class="center-block"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...</h1>
  </div>
</div>
<div ng-hide="tag_progress" class="row ng-hide">
  <div class="col-lg-12">

    <form role="form" ng-submit="submit()" >
    <div class="page-header">
	  <label>Tag name:</label>
	  <span class="help-inline" ng-bind="error.0"></span>
      <input class="form-control" ng-model="tag.name" />
    </div>

      <div class="form-group" ng-class="{'has-error':error.description}">
	<label>Description:</label>
	<span class="help-inline" ng-bind="error.description"></span>
	<textarea class="form-control" ng-model="tag.description" rows="10"></textarea>
      </div>

      <button type="submit" class="btn btn-default btn-sm pull-right input-sm">
	Save
      </button>

    </form>

  </div>
</div>

<div ng-hide="!data_progress" class="row ng-hide">
  <div class="col-lg-12">
    <h1 class="center-block"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...</h1>
  </div>
</div>
<div ng-hide="data_progress" ng-include="'/static/testreporter/templates/report.html'"></div>
