<div class="row">
  <div class="col-lg-12">

    <div class="page-header">
      <h1>Report: <small>"//data.tag.name//"</small></h1>
    </div>

    <form role="form">
      <div class="form-group">
	<textarea class="form-control" rows="4" placeholder="Notes" />
      </div>
    </form>

    <h2>Builds</h2>

    <table class="table">
      <thead>
	<tr>
	  <th>#</th>
	  <th>Number</th>
	  <th>Name</th>
	</tr>
      </thead>
      <tbody>
	<tr ng-repeat="build in data.builds">
	  <td>//build.id//</td>
	  <td>//build.number//</td>
	  <td>//build.name//</td>
	</tr>
      </tbody>
    </table>

    <h2>Lava jobs</h2>

    <table class="table">
      <thead>
	<tr>
	  <th>#</th>
	  <th>Number</th>
	</tr>
      </thead>
      <tbody>
	<tr ng-repeat="lava_job in data.lava_jobs">
	  <td>//lava_job.id//</td>
	  <td>//lava_job.number//</td>
	</tr>
      </tbody>
    </table>

    <h2>Lava results</h2>

    <table class="table">
      <thead>
	<tr>
	  <th>Number</th>
	  <th>Pass</th>
	  <th>Fail</th>
	</tr>
      </thead>
      <tbody>
	<tr ng-repeat="result in data.lava_results">
	  <td>//result.name//</td>
	  <td>//result.results.pass//</td>
	  <td>//result.results.fail//</td>
	</tr>
      </tbody>
    </table>

  </div>
</div>

