<div class="row">
  <div class="col-lg-12">

    <h2>Builds</h2>

    <table class="table">
      <thead>
	<tr>
	  <th>#</th>
	  <th>Number</th>
	  <th>Name</th>
	</tr>
      </thead>
      <tbody>
	<tr ng-repeat="build in data.builds">
	  <td><a ng-href="//build.absolute_url//">//build.id//</a></td>
	  <td><a ng-href="//build.absolute_url//">//build.number//</a></td>
	  <td><a ng-href="//build.absolute_url//">//build.name//</a></td>
	</tr>
      </tbody>
    </table>

    <hr/>

    <h2>Lava Jobs</h2>

    <div ng-repeat="lava_job in data.lava_jobs">
      <h3>
	Lava job <a ng-href="//lava_job.absolute_url//">//lava_job.id//</a>
	<small ng-hide="lava_job.results.length"> - Empty</small>
      </h3>
      <table class="table" ng-show="lava_job.results.length">
	<thead>
	  <tr>
	    <th>Number</th>
	    <th>Pass</th>
	    <th>Fail</th>
	  </tr>
	</thead>
	<tbody>
	  <tr ng-repeat="result in lava_job.results">
	    <td>//result.name//</td>
	    <td>//result.results.pass//</td>
	    <td>//result.results.fail//</td>
	  </tr>
	</tbody>
      </table>
    </div>

    <hr/>

    <h2>Manual Testruns</h2>

    <table class="table">
      <thead>
	<tr>
	  <th>Test Plan</th>
	  <th ng-repeat="name in data.testruns[0].result">
	    // name[0] //
	  </th>
	</tr>
      </thead>
      <tbody>
	<tr ng-repeat="testrun in data.testruns">
	  <td><a ng-href='/testplanner/#//testrun.test_plan.id//'>//testrun.test_plan.name//</a></td>
	  <td ng-repeat="name in testrun.result">// name[1] //</td>
	  <td>//result.results.fail//</td>
	</tr>
      </tbody>
    </table>

  </div>
</div>
