.timeline-event-dot {
    border: none !important;
    width: 1px !important;
    height: 1px !important;
    /*top: -1px !important;
    left: 12px !important;*/
    background-color: transparent !important;
}

.resultsmissing {
    color: red;
}

ul.tree, ul.tree ul {
    list-style-type: none; 
    background: url(/static/img/vline.png) repeat-y; 
    margin: 0; 
    padding: 0;
} 

ul.tree ul {
    margin-left: 13px;
} 

ul.tree li {
    margin: 0; 
    padding: 0 12px; 
    line-height: 32px; 
    background: url(/static/img/node.png) no-repeat; 
    color: #369; 
    font-weight: bold;
} 

ul.tree li img {
    vertical-align: middle;
}

ul.tree li.last {
    background: #fff url(/static/img/lastnode.png) no-repeat;
}

ul.tree li.first {
    background: #fff;
}

.legend {
    overflow:auto;
}

.legenditem {
    display: inline;
}

.legendsection {
    width: 49%;
}

.legendcaption {
    background: #fff;
    position: relative;
    margin-bottom: 10px;
}

.lava {
    float: left;
}

.jenkins {
    float: right;
}
