{% extends 'testrunner/base.html' %}

{% block maincontent %}
  {% if lava_job %}
    <a href="{{ lava_job.jenkins_build.job.get_absolute_url }}">{{ lava_job.jenkins_build.job.name }}</a> |
    <a href="{{ lava_job.jenkins_build.get_absolute_url }}">{{ lava_job.jenkins_build.number }}</a> |
    <a href="{{ lava_job.get_absolute_url }}">{{ lava_job.number }}</a>
    <br/>
    <h3>Jenkins build: <a href="{{ lava_job.jenkins_build.job.service.url }}job/{{ lava_job.jenkins_build.job.name }}/{{ lava_job.jenkins_build.number }}">{{ lava_job.jenkins_build.name }}</a></h3>
    <h3>LAVA job: <a href="{{ lava_url }}/{{ lava_job.number }}">{{ lava_job.device_type.name }} ({{ lava_job.number }})</a></h3>
    <ul>
      {% for testdef, testresult in lava_job.get_definitions_results %}
        <li {% if not testresult %} style="color:red"{% endif %}> {{ testdef.name }} - {% if testresult %} OK ({{ testresult.get_resultset_total }} {% for status_name, status_count in testresult.get_resultset_count_by_status.items %} | {{ status_name }}: {{ status_count }}{% endfor %}) {% else %} Missing {% endif %} 
          <ul>
            {% for testcase in testresult.lavajobtestresult_set.all %}
              <li>{{ testcase.test_case_id }} - {{ testcase.status }}
            {% endfor %}
          </ul>
          </li>
        {% endfor %}
    </ul>
  {% endif %}

{% endblock %}
