.welcome {
    display: inline;
}

.login {
    display: inline;
}

.logout {
    display: inline;
}


#login-view {
	margin: 60px auto;
	width: 500px;
}

#login-view button {
	width: 100%;
}

.table-hover td {
	cursor: pointer;
	cursor: hand;
}

.panel .panel-heading select {
	width: 200px;
	margin-top: -5px;
	height: 59px;
}

.panel .panel-heading {
	height: 70px;
}
