.welcome {
    display: inline;
}

#login{
	width: 600px;
	margin-top: 50px;
}

#login .page-header {
	text-align: center;
	margin-bottom: 40px;
	font-family: monospace;
}

.table-hover td {
	cursor: pointer;
	cursor: hand;
}

#testreporter {
	padding-bottom: 50px;
}

#testmanualrunner .disabed .active {
	color: #777;
}