.welcome {
    display: inline;
}

.login {
    display: inline;
}

.logout {
    display: inline;
}


#login-view {
	margin: 60px auto;
	width: 500px;
}

#login-view button {
	width: 100%;
}

.table-hover td {
	cursor: pointer;
	cursor: hand;
}