{% extends 'base.html' %}

{% block css_include %}
  {{ block.super }}

  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}testmanualrunner/main.css">
{% endblock %}

{% block js_include %}
  {{ block.super }}

  <script type="text/javascript" src="{{ STATIC_URL }}libs/js-yaml.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}libs/esprima.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}testmanualrunner/main.js"></script>
{% endblock %}


{% block maincontent %}
  <div id="testmanualrunner" ng-view></div>
{% endblock %}
