<div class="row">
	<div class="col-lg-12">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>Name</th>
					<th>Owner</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="plan in plans">
					<td><a ng-href="#{{ plan.id }}">{{ plan.id }}</a></td>
					<td><a ng-href="#{{ plan.id }}">{{ plan.name }}</a></td>
					<td>{{ plan.owner }}</td>
				</tr>
			</tbody>
		</table>

		<a href="#/new" class="btn btn-default btn-sm pull-right" role="button">Create Test Plan</a>
	</div>
</div>

