<div class="row">
  <div class="col-lg-12">

    <div class="page-header">
      <h1>TestRun: <small>// test_plan.name // <b>#build:</b> // build.name // </small></h1>
    </div>


    <div class="row">
      <div class="col-md-7">
	<div class="list-group">
	  <a ng-style="{'color': get_status(test_definition).color }"
	     ng-repeat-start="test_definition in test_plan.tests_definitions"
	     ng-click="set_active_test_definition(test_definition)"
	     ng-class="{'active': active_test_definition == test_definition}"
	     class="list-group-item">

	     // test_definition.name //

	     <button href="" title="Remove Status" class="pull-right btn btn-default btn-xs"
		     ng-click='set_status(null, test_definition)'>
		     <span class="glyphicon glyphicon-question-sign" class="glyphicon"></span>
	     </button>

	     <div class="btn-group pull-right">

	       <button href=""
		       title="// status.name //"
		       ng-click='set_status(status, test_definition)'
		       ng-style="{'color': status.color}"
		       class="btn btn-default btn-xs"
		       ng-class="{active: get_status(test_definition) == status.id}"
		       ng-repeat="status in statuses">
		       <span ng-class="status.icon" class="glyphicon"></span>
	       </button>
	     </div>
	  </a>
	  <div ng-repeat-end class="list-group-item"
	       ng-show="active_test_definition == test_definition"
	       ng-class="{'active-test': active_test_definition == test_definition}">

	       <form class="form-inline" role="form" ng-submit="add_bug(alias, tracker, test_definition)">
		 <div class="form-group">
		   <input type="text" ng-model="alias" class="form-control input-sm" placeholder="issue" />

		   <select class="form-control input-sm"
			   ng-model="tracker"
			   ng-options="t.name as t.name for t in trackers">
			   <option value="">-- select tracker --</option>
		   </select>

		   <button title="add" type="submit" class="btn btn-sm btn-default btn-success"
			   ng-disabled="!(tracker && alias)">
			   <span class="glyphicon glyphicon-plus"></span>
		   </button>
		 </div>
	       </form>

	       <table class="table">
		 <tbody>
		   <tr ng-repeat="bug in get_test_run_results(test_definition).bugs">
		     <td><a ng-href="//bug.data.weblink//">// bug.alias //</a></td>
		     <td><a ng-href="//bug.data.weblink//">// bug.tracker //</a></td>
		     <td><a ng-href="//bug.data.weblink//"><b>// bug.data.description //</a><b></td>
		   </tr>
		 </tbody>
	       </table>
	  </div>
	</div>
      </div>
      <pre class="col-md-5 well" style="border-color: ">

	**** Not implemented ****

	// active_test_definition.test_file_name //
	// active_test_definition.id //

	**** Not implemented ****

	metadata:
	name: serial-console
	format: "Manual Test Definition 1.0"
	description: "Test if the serial connection to the board works"
	maintainer:
        - botao.sun@linaro.org
	os:
        - ubuntu
        - openembedded
	scope:
        - functional
	devices:
        - panda
        - panda-es
        - vexpress-a9
        - vexpress-tc2
        - arndale
	environment:
        - manual-test

	run:
	steps:
        - "Connect the Serial Cable"
        - "Launch \"minicom\" in terminal of host PC:
        $ minicom -D /dev/ttyUSB0 -w -C minicom_log.txt
        $ sudo screen /dev/ttyUSB0 115200"
        - "Boot the board"
        - "After boot sequence is complete type \"ls -l\""

	expected:
        - "Boot log should be shown in serial console after powering the board"
        - "The boot log and command line prompt at the end should look like this:
        Welcome to Linaro 13.09 (GNU/Linux 3.12.0-1-linaro-omap armv7l)
        Documentation:  https://wiki.linaro.org/
        root@linaro-developer:~#"
        - "Input by keyboard in serial console should work and characters should be echoed back and displayed in minicom"
      </pre>
    </div>


  </div>
</div>
