{% extends 'testrunner/base.html' %}

{% block css_include %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/timeline-fb.css">
{% endblock %}

{% block maincontent %}

<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
        <h2>{{ jenkins_job.name }}</h2>
        </div>
    </div>
</div>
     {% if jenkins_job.get_umbrella_builds %}
         {% for build in jenkins_job.get_umbrella_builds|slice:":10" %}
             <div class="article">
                 <div class="header"><a href="{{ build.get_absolute_url }}">{{ build.number }} - {{ build.timestamp|date:'c' }}</a></div>
                 {% if build.is_umbrella %}
                     <table id="job-status" class="table table-striped table-condensed">
                         <thead>
                             <tr>
                                 <th>Build hwpack</th>
                                 <th>Build status</th>
                                 <th></th>
                             </tr>
                         <thead>
                         <tbody id="job-status-body">
                     {% for subbuild in build.jenkinsbuild_set.all %}
                             <tr>
                                 <td>{{ subbuild.get_hwpack_name }}</td>
                                 <td>{{ subbuild.status.name }}</td>
                                 {% if subbuild.lavajob_set.all %}
                                 <td>
                                     <table class="table table-striped table-condensed">
                                         <thead>
                                             <tr>
                                                 <th>LAVA job</th>
                                                 <th>LAVA device</th>
                                                 <th>LAVA status</th>
                                                 <th>LAVA Results</th>
                                             </tr>
                                         <thead>
                                         <tbody id="job-status-body">
                                             {% for lavajob in subbuild.lavajob_set.all %}
                                             <tr>
                                                 <td><a href="{{ lavajob.get_absolute_url }}">{{ lavajob.number }}</a></td>
                                                 <td>{{ lavajob.device_type.name }}</td>
                                                 <td>{{ lavajob.status.name }}</td>
                                                 <td>{% if lavajob.has_results_missing %} Incomplete {% else %} OK {% endif %}</td>
                                             </tr>
                                             {% endfor %}
                                         </tbody>
                                     </table>
                                 </td>
                                 {% endif %}
                             </tr>
                             {% endfor %}
                         </tbody>
                     </table>
                 {% endif %}
             </div>
         {% endfor %}
     {% else %}
         {% for build in jenkins_builds %}
             <div class="article">
                 <div class="header"><a href="{{ build.get_absolute_url }}">{{ build.number }} - {{ build.timestamp|date:'c' }}</a></div>
                 <table id="job-status" class="table table-striped table-condensed">
                     <thead>
                         <tr>
                             <th>Build status</th>
                             <th></th>
                         </tr>
                     <thead>
                     <tbody id="job-status-body">
                         <tr>
                             <td>{{ build.status.name }}</td>
                             {% if build.lavajob_set.all %}
                             <td>
                                 <table class="table table-striped table-condensed">
                                     <thead>
                                         <tr>
                                             <th>LAVA job</th>
                                             <th>LAVA device</th>
                                             <th>LAVA status</th>
                                             <th>LAVA Results</th>
                                         </tr>
                                     <thead>
                                     <tbody id="job-status-body">
                                         {% for lavajob in build.lavajob_set.all %}
                                         <tr>
                                             <td><a href="{{ lavajob.get_absolute_url }}">{{ lavajob.number }}</a></td>
                                             <td>{{ lavajob.device_type.name }}</td>
                                             <td>{{ lavajob.status.name }}</td>
                                             <td>{% if lavajob.has_results_missing %} Incomplete {% else %} OK {% endif %}</td>
                                         </tr>
                                         {% endfor %}
                                     </tbody>
                                 </table>
                             </td>
                             {% endif %}
                         </tr>
                         {% endfor %}
                     </tbody>
                 </table>
             </div>
     {% endif %}

{% endblock %}
