<div style="clear:both">&nbsp;</div>
<div class="legend">
    <div class="legendsection lava">
        <div class="legendcaption">LAVA job statuses</div>
        <div class="legenditem"><img src="{{ STATIC_URL }}img/Complete.png">Complete</div>
        <div class="legenditem"><img src="{{ STATIC_URL }}img/Incomplete.png">Incomplete</div>
        <div class="legenditem"><img src="{{ STATIC_URL }}img/Canceled.png">Cancelled</div>
        <div class="legenditem"><img src="{{ STATIC_URL }}img/Running.png">Running</div>
    </div>

    <div class="legendsection jenkins">
        <div class="legendcaption">Jenkins job statuses</div>
        <div class="legenditem"><img src="{{ STATIC_URL }}img/SUCCESS.png">SUCCESS</div>
        <div class="legenditem"><img src="{{ STATIC_URL }}img/FAILURE.png">FAILURE</div>
        <div class="legenditem"><img src="{{ STATIC_URL }}img/RUNNING.png">RUNNING</div>
        <div class="legenditem"><img src="{{ STATIC_URL }}img/ABORTED.png">ABORTED</div>
    </div>
</div>
<div style="clear:both">&nbsp;</div>
