<div class="page-header">
  <h1>Test Plans</h1>
</div>


<div class="row">
  <div class="col-lg-12">
    
    <p class="text-center" ng-hide="plans.length">
      No test plans yet
    </p>
    
    <table class="table table-striped" ng-show="plans.length">
      <thead>
	<tr>
	  <th>#</th>
	  <th>Name</th>
	  <th>Owner</th>
	  <th></th>
	</tr>
      </thead>
      <tbody>
	<tr ng-repeat="plan in plans" ng-class="{warning: plan.to_remove}">
	  <td><a ng-href="#//plan.id//">//plan.id//</a></td>
	  <td><a ng-href="#//plan.id//">//plan.name//</a></td>
	  <td>//plan.owner//</td>
	  <th>
	    <a href="" ng-click="plan.to_remove = true" ng-hide="plan.to_remove">
	      <span class="pull-right glyphicon glyphicon-trash"></span>
	    </a>

	    <a href="" ng-click="plan.to_remove = false" ng-show="plan.to_remove" title="cancel">
	      <span style="color:green" class="pull-right glyphicon glyphicon-remove "></span> 
	    </a>
	     
	    <a href="" ng-click="remove(plan)" ng-show="plan.to_remove" title="remove">
	      <span style="color:red" class="pull-right glyphicon glyphicon-ok"></span>
	    </a>
	    
	  </th>
	</tr>
      </tbody>
    </table>

    <a title="Create" href="#/new" class="btn btn-default btn-sm pull-right btn-success" role="button">	
      <span class="glyphicon glyphicon-plus"></span>
    </a>
    
  </div>
</div>

