<div class="row">
  <div class="col-lg-12">


    <form role="form" ng-submit="submit()">

      <button type="submit" class="btn btn-default btn-sm input-sm pull-right">
	Save
      </button>

      <div class="page-header">
	<h1 ng-show="testPlan.id">TestPlan: <small>"//testPlan.name//"</small></h1>
	<h1 ng-hide="testPlan.id">New TestPlan</h1>
      </div>

      <div class="form-group" ng-class="{'has-error':error.name}">
	<label class="control-label">name:</label>
	<span class="help-inline" ng-bind="error.name"></span>
	<input type="text" ng-model="testPlan.name" class="form-control" placeholder="name">
      </div>

      <div class="form-group" ng-class="{'has-error':error.description}">
	<label class="control-label">description:</label>
	<span class="help-inline" ng-bind="error.description"></span>
	<textarea ng-model="testPlan.description" class="form-control input-sm" rows="4"
		  placeholder="description">
	</textarea>
      </div>

      <div class="form-group" ng-class="{'has-error':error.device}">
	<label class="control-label">device:</label>
	<span class="help-inline" ng-bind="error.device"></span>
	<select class="form-control input-sm"
		ng-model="device"
		ng-options="d.name for d in availableDevices track by d.id"
		ng-change="deviceSelected()">
		<option value="">-- choose device --</option>
	</select>
      </div>

      <table ng-show="testDefinitions.length" class="table table-hover table-striped">
	<thead>
	  <tr>
	    <th>#</th>
	    <th>Name</th>
	    <th>Test Id</th>
	    <th>File Name</th>
	  </tr>
	</thead>
	<tbody>
	  <tr ng-class="{info: definition.active}"
	      ng-click="selectDefinition(definition); "
	      ng-repeat="definition in testDefinitions | orderBy:'active || false':true">
	      <td>// definition.id //</td>
	      <td>// definition.name //</td>
	      <td>// definition.test_id //</td>
	      <td>// definition.test_file_name //</td>
	  </tr>
	</tbody>
      </table>

      <button type="submit" class="btn btn-default btn-sm input-sm pull-right">
	Save
      </button>

    </form>

  </div>
</div>
